@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Joel Hilton Movie Collection</h1>
</div>

<div class="card">
    <div class="card-image">
        <figure class="image is-4by3">
            <img src="~/img/JoelHiltonHeadshot.jpg" alt="Joel">
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                    <img src="~/img/JoelHiltonHeadshot.jpg" alt="Joel">
                </figure>
            </div>
            <div class="media-content">
                <p class="title is-4">Joel Hilton</p>
                <p class="subtitle is-6">Twitter - 786Joel</p>
            </div>
        </div>

        <div class="content">
            Comedian at QuickWitsComedy. Podcaster at Baconsale. Husband / Father at home. Occasionally serious.
            <br>
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />